:root {
  --gradient: linear-gradient(90deg, rgb(53, 0, 245) 0%, rgb(42, 164, 18) 57%, rgba(245,255,0,1) 100%);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  background: var(--gradient);
  background-size: 600% 600%;
  animation: body-bg 15s ease infinite;
}

.toggle-bg {
  background: #ccc;
}

@keyframes body-bg {
  0% {background-position: 0% 50%}
  50%{background-position: 100% 50%}
  100%{background-position: 0% 50%}
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #fff;
  outline: none;
  background-color: rgb(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
  background-color: rgb(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  position: relative;
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.toggle {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.check {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background: #7a8306;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .check {
  background: #fff;
}

.check::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s ease;
}

input[type="checkbox"]:checked ~ .check::before {
  transform: translateX(20px);
  background: #fff;
}

.check::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s ease;
  transform: translateX(0px);
}

input[type="checkbox"]:checked ~ .check::after {
  transform: translateX(20px);
  background: #7a8306;
}

.output .previous-operand {
  color: rgb(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: #fff;
  font-size: 2.5rem;
}